<template>
            <v-card class="elevation-0" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                <v-chip color="red darken-3" text-color="white">
                       <v-avatar left>
              <v-icon>mdi-currency-eur</v-icon>
            </v-avatar>
           Betaling
          </v-chip>
              </div>
              <v-list-item-title class="mb-1">Automatische incasso</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="red darken-3"><span class="dance-members-length">{{autoPayment.length}}</span>
            </v-list-item-avatar>
          </v-list-item>
        </v-card>
</template>

<script>
import ApiService from '@/services/api.service'
export default {
  data () {
    return {
      autoPayment: [],
      autoPaymentLength: null
    }
  },
  mounted () {
    ApiService.allusers().then(data => {
      this.autoPayment = data.users.filter(el => {
        if (el.payment.fullname !== '') {
          return true
        }
      })
      console.log(this.autoPayment.length)
    })
  }
}
</script>
