<template>
            <v-card class="elevation-0" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                   <v-chip color="yellow darken-2" text-color="white">
                     <v-avatar left>
              <v-icon>mdi-currency-eur</v-icon>
            </v-avatar>
           Betaling
          </v-chip>
              </div>
              <v-list-item-title class=" mb-1">Stichting</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="yellow darken-2"><span class="dance-members-length">{{this.paymentFoundation.length}}</span>
            </v-list-item-avatar>
          </v-list-item>
        </v-card>
</template>

<script>
import ApiService from '@/services/api.service'
export default {
  data () {
    return {
      paymentFoundation: []
    }
  },
  mounted () {
    ApiService.allusers().then(data => {
      this.paymentFoundation = data.users.filter(el => {
        if (el.paymentFoundation !== '') {
          return true
        }
      })
      console.log(this.paymentFoundation.length)
    })
  }
}
</script>
