<template>
            <v-card class="elevation-0" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                <v-chip color="light-blue darken-3" text-color="white">
                   <v-avatar left>
              <v-icon>mdi-account-group</v-icon>
            </v-avatar>
           Leden
          </v-chip>
              </div>
              <v-list-item-title class="mb-1">Met korting</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="light-blue darken-3"><span class="dance-members-length">{{this.familyDiscount.length}}</span>
            </v-list-item-avatar>
          </v-list-item>
        </v-card>
</template>

<script>
import ApiService from '@/services/api.service'
export default {
  data () {
    return {
      familyDiscount: []
    }
  },
  mounted () {
    ApiService.allusers().then(data => {
      this.familyDiscount = data.users.filter(el => {
        if (el.familyDiscount === true) {
          return true
        }
      })
      console.log(this.familyDiscount.length)
    })
  }
}
</script>
