<template>
    <div>
        {{ admin.firstname }}
    </div>
</template>

<script>
import ApiService from '../services/api.service'
import Admin from '../models/Admin'

export default {
  data () {
    return {
      admin: Admin
    }
  },
  mounted () {
    ApiService.getAdmin().then(result => {
      this.admin.firstname = result.data.user.firstname
    })
  }
}
</script>
