<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <h2><v-icon>mdi-gauge</v-icon> Dashboard</h2>
      </v-col>
      <v-col items="center" cols="12" sm="6">
        <DanceBlock />
      </v-col>
      <v-col items="center" cols="12" sm="6">
        <SingBlock />
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <AutoPaymentMembers />
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <FoundationPaymentMembers />
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <DiscountBlock />
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <WithoutDiscountBlock />
      </v-col>
      <v-col cols="12" sm="12">
        <v-tabs color="black">
          <v-tabs-slider color="black"></v-tabs-slider>
          <v-tab @click="danceBlock">Dans</v-tab>
          <v-tab @click="singBlock">Zang</v-tab>
          <v-tab @click="otherBlock">Overig</v-tab>
        </v-tabs>
      </v-col>
          <transition name="slide-y-transition">
          <v-col  v-if="dance" cols="12" sm="12">
            <Dancers/>
        </v-col>
      </transition>
    </v-row>
  </v-container>
</template>

<script>
import ApiService from '../services/api.service'
import DanceBlock from '../components/dashboard/DanceBlock'
import SingBlock from '../components/dashboard/SingBlock'
import AutoPaymentMembers from '../components/dashboard/payment/AutoPaymentMembers'
import FoundationPaymentMembers from '../components/dashboard/payment/FoundationPaymentMembers'
import DiscountBlock from '../components/dashboard/members/MembersWithDiscountBlock'
import WithoutDiscountBlock from '../components/dashboard/members/MembersWithoutDiscountBlock'
import Dancers from '../components/dashboard/dance/AllTablesDance'

export default {
  components: {
    DanceBlock,
    SingBlock,
    AutoPaymentMembers,
    FoundationPaymentMembers,
    DiscountBlock,
    WithoutDiscountBlock,
    Dancers
  },
  data () {
    return {
      dance: true,
      sing: false,
      other: false
    }
  },
  mounted () {
    ApiService.getLoginUser().then(result => {
      console.log(result.data.user.user)
      localStorage.setItem('user', JSON.stringify(result.data.user.user))
    })
  },
  methods: {
    danceBlock () {
      this.dance = true
      this.sing = false
      this.other = false
    },
    singBlock () {
      this.dance = false
      this.sing = true
      this.other = false
    },
    otherBlock () {
      this.dance = false
      this.sing = false
      this.other = true
    }
  }
}
</script>
