<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
              <v-col cols="12" sm="12" class="text-center">
            <img width="350" src="../assets/logo.png" alt="" />
          </v-col>
          <v-col cols="12" class="text-center">
            <h5 class="font-weight-black caption text-uppercase">ATA Admin Panel v1.1.0</h5>
          </v-col>
          <v-col cols="12" sm="8" md="8" lg="6" xl="4">
             <v-form @submit.prevent="doLogin">
            <v-card class="elevation-1">
              <v-toolbar color="black" dark flat>
                <v-toolbar-title>Inloggen</v-toolbar-title>
                <v-spacer />
          contact
              </v-toolbar>
              <v-card-text>
                  <v-text-field label="Email" v-model="username" name="email" prepend-inner-icon="mdi-account" type="text" />

                  <v-text-field id="password" v-model="password" label="Password" name="password" prepend-inner-icon="mdi-lock" type="password" />
              </v-card-text>
                <v-divider></v-divider>
              <v-card-actions>
                <v-spacer />
                <v-btn depressed      :loading="loading4"
      :disabled="loading4" type="submit" color="black" dark>Login
            <template v-slot:loader>
        <span class="custom-loader">
           &#8634;
        </span>
      </template>
      </v-btn>
              </v-card-actions>
            </v-card>
               </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ApiService from '../services/api.service'

export default {
  props: {
    source: String
  },
  data () {
    return {
      username: '',
      password: '',
      mdiCached: 'mdi-home',
      loader: null,
      loading4: false
    }
  },
  methods: {
    doLogin () {
      this.loading4 = true
      console.log('ok')
      ApiService.login({
        email: this.username,
        password: this.password
      }).then(data => {
        console.log(data)
        this.loader = null
        this.loading4 = false
        this.$router.push({ name: 'dashboard' })
        this.$store.dispatch('login')
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
    color: black;
    font-size: 24px;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
</style>
