<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <h2>
          <v-icon>mdi-account-edit</v-icon> {{user.firstname}} {{user.lastname}}
        </h2>
        <small v-if="user.createdAt"><strong>Aangemeld op:</strong> {{computedCreatedDate}}</small>
      </v-col>
      <!-- <v-col cols="12" sm="4" class="text-right">
        <a href="#">Wijzigen</a>
      </v-col> -->
      <v-col cols="12" sm="12">
        <v-card class="elevation-0" outlined>
          <v-card-text>
             <v-row>
               <v-col cols="12" sm="8">
                <v-chip text-color="black">
                  <v-avatar left>
                    <v-icon>mdi-account-circle</v-icon>
                  </v-avatar>
                  Lid gegevens
                </v-chip>
              </v-col>
              <v-col cols="12" sm="4" class="text-right">
                <a @click="editPersonalInfo">Wijzigen</a>
              </v-col>
             </v-row>
           </v-card-text>
          <v-row>
              <v-col cols="12" sm="6" md="6" lg="6">
               <v-row>
              <v-col cols="12" sm="12" md="12" lg="12">
                     <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-account</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span><strong>Naam:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.firstname }} {{ user.lastname }}</span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!--- naam -->
              <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-calendar</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Geboortedatum:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ computedBirthdate }}</span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- geboortedatum gegevens row -->
              <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-calendar-account-outline</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Leeftijd:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.age }} jr</span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- geboortedatum gegevens row -->
              </v-col>
               </v-row>
              </v-col>
            <v-col cols="12" sm="6" md="6" lg="6">
                <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-map-marker</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Adres:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.address }} {{ user.postalCode }} {{user.city}} </span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- adres gegevens row -->
              <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-cellphone</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Telefoon nr:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.phoneNumber }} </span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- telefoon nr row -->
               <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-at</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Email:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.email }} </span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- telefoon nr row -->
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12">
        <v-card outlined>
           <v-card-text>
             <v-row>
               <v-col cols="12" sm="8">
                <v-chip text-color="black">
                  <v-avatar left>
                    <v-icon>mdi-teach</v-icon>
                  </v-avatar>
                  Lid overzicht
                </v-chip>
              </v-col>
              <v-col cols="12" sm="4" class="text-right">
                <a @click="editCourseInfo">Wijzigen</a>
              </v-col>
             </v-row>
           </v-card-text>
         <v-row>
           <v-col cols="12" sm="12" md="6">
              <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-calendar-text-outline</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Start datum:</strong></span> </v-col>
                   {{ computedStartDate }}
                  </v-row>
                </v-col>
              </v-row> <!-- start datum row -->
              <v-row v-if="user.danceCourse" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-shoe-print</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Dansles:</strong></span> </v-col>
                    <v-col cols="12"> <span>{{ user.danceCourse }} </span> </v-col>
                  </v-row>
                </v-col>
              </v-row> <!-- dansles row -->
              <v-row v-if="user.teacher" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-teach</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Docent:</strong></span> </v-col>
                   {{ user.teacher }}
                  </v-row>
                </v-col>
              </v-row> <!-- dcoent row -->
              <v-row v-if="user.package" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-package-variant</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Pakket:</strong></span> </v-col>
                   {{ user.package }}
                  </v-row>
                </v-col>
              </v-row> <!-- dcoent row -->
           </v-col>
           <v-col cols="12" sm="12" md="6">
                 <v-row>
              <v-col cols="12" sm="12" md="12" lg="12">
              <v-row no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-file</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Inschrijf formulier:</strong></span> </v-col>
                   {{ user.if ? 'Ja' : 'Nee' }}
                  </v-row>
                </v-col>
              </v-row> <!-- inschrijf formulier row -->
              <v-row v-if="user.familyDiscount" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-sale</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Familie korting:</strong></span> </v-col>
                   {{ user.familyDiscount ? 'Ja' : 'Nee' }}
                  </v-row>
                </v-col>
              </v-row> <!-- familiekorting row -->
              <v-row v-if="user.discountType" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-format-list-bulleted-type</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Kortings type:</strong></span> </v-col>
                   {{ user.discountType }}
                  </v-row>
                </v-col>
              </v-row> <!-- familiekorting row -->
              <v-row v-if="user.amount" no-gutters>
                <v-col col="2" sm="2" md="2" lg="2" class="text-center">
                  <v-icon style="font-size: 1.9em" class="mt-2">mdi-currency-eur</v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <v-row no-gutters>
                    <v-col cols="12"> <span> <strong>Kortings bedrag:</strong></span> </v-col>
                   {{ user.amount }}
                  </v-row>
                </v-col>
              </v-row> <!-- familiekorting row -->
              </v-col>
            </v-row>
           </v-col>
         </v-row>
        </v-card>
      </v-col>
      <v-col v-if="user.paymentFoundation == '' || user.paymentFoundation == null && user.payment.fullname != ''" cols="12" sm="12">
        <v-card outlined>
          <v-row>
            <v-col cols="12" sm="6">
              <v-card-title>Betaling gegevens</v-card-title>
              <v-card-text>
                <strong>Volledige naam:</strong> {{ user.payment.fullname }} <br>
                <strong>Adres gegevens:</strong> {{ user.payment.paymentAddress }} {{ user.payment.paymentPostalCode}}
                {{ user.payment.city }}<br>
                <strong>Eerste incasso datum:</strong> {{ computedAutomaticPaymentDate }} <br>
                <strong>IBAN:</strong> {{ user.payment.iban }} <br>
                <strong>Email:</strong> {{ user.payment.paymentEmail }} <br>
              </v-card-text>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card-title>Handtekening</v-card-title>
              <img class="handtekening" :src="imgSrc" alt="ok">
            </v-col>
          </v-row>
        </v-card>
      </v-col>
        <v-col v-if="user.paymentFoundation != '' && user.payment.fullname == ''" cols="12" sm="12">
        <v-card outlined>
          <v-row>
            <v-col cols="12" sm="6">
              <v-card-title>Stichting</v-card-title>
              <v-card-text>
               {{ user.paymentFoundation }} <br>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12">
        <v-card outlined>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="8">
                <v-chip text-color="black">
                  <v-avatar left>
                    <v-icon>mdi-subtitles</v-icon>
                  </v-avatar>
                  Maand overzicht
                </v-chip>
              </v-col>
              <v-col cols="12" sm="4" class="text-right">
                <a @click="editPaymentYear">Wijzigen</a>
              </v-col>
              <v-col cols="12" sm="6">
                <v-row no-gutters>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Januari: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classJanObject">{{user.paymentMonth.Jan}}</span></v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Februari: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classFebObject">{{user.paymentMonth.Feb}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Maart: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classMaaObject">{{user.paymentMonth.Maa}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">April: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classAprObject">{{user.paymentMonth.Apr}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Mei: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classMeiObject">{{user.paymentMonth.Mei}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Juni: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classJunObject">{{user.paymentMonth.Jun}}</span> </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" sm="6">
                <v-row no-gutters>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Juli: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classJulObject">{{user.paymentMonth.Jul}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Augustus: </v-col>
                      <v-col cols="6" sm="8" md="9" lg="9"><span :class="classAugObject">{{user.paymentMonth.Aug}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">September: </v-col>
                      <v-col cols="8" sm="8" md="9" lg="9"> <span :class="classSepObject">{{user.paymentMonth.Sep}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">Oktober: </v-col>
                      <v-col cols="8" sm="8" md="9" lg="9"><span :class="classOktObject">{{user.paymentMonth.Okt}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">November: </v-col>
                      <v-col cols="8" sm="8" md="9" lg="9"><span :class="classNovObject">{{user.paymentMonth.Nov}}</span> </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="4" sm="4" md="3" lg="3">December: </v-col>
                      <v-col cols="8" sm="8" md="9" lg="9"><span :class="classDecObject">{{user.paymentMonth.Dec}}</span> </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <PersonalInfoUpdate v-model="personalInfoDialog" :user="user"/>
    <MemberCourseInfoUpdate v-model="memberCourseInfoDialog" :user="user"/>
    <PaymentYearUpdate v-model="paymentInfoDialog" :user="user"/>
    <UserLoading v-model="userLoadingDialog"/>
  </v-container>
</template>

<script>
/*eslint-disable */

import ApiService from '../services/api.service'
import User from '../models/User'
import moment from 'moment'
import PersonalInfoUpdate from '../components/members/PersonalInfoUpdate'
import MemberCourseInfoUpdate from '../components/members/MemberCourseInfoUpdate'
import PaymentYearUpdate from '../components/members/PaymentYearUpdate'
import UserLoading from '../components/UserLoading'

export default {
  components: {
    PersonalInfoUpdate,
    MemberCourseInfoUpdate,
    PaymentYearUpdate,
    UserLoading
  },
  data () {
    return {
      userLoadingDialog: false,
      memberCourseInfoDialog: false,
      personalInfoDialog: false,
      paymentInfoDialog: false,
      user: User,
      imgSrc: ''
    }
  },
  mounted () {
    this.getUser()
  },
  computed: {
    // signImg () {
    //   return this.user.payment.signature.data !== undefined ? this.makeBuffer(this.user.payment.signature.data) : ''
    // },
    computedBirthdate () {
      return this.user.birthDate ? moment(this.user.birthDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
    },
    computedStartDate () {
      return this.user.startDate ? moment(this.user.startDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
    },
    computedAutomaticPaymentDate () {
      return this.user.payment.automaticPaymentDate ? moment(this.user.payment.automaticPaymentDate).locale('nl-NL').format('D MMMM') : ''
    },
    computedCreatedDate () {
      return this.user.createdAt ? moment(this.user.createdAt).locale('nl-NL').format('dddd, D MMMM') : ''
    },
    classJanObject () {
    return this.user.paymentMonth.Jan == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Jan == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Jan == 'In behandeling' ? 'in-behandeling' : ''
    },
    classFebObject () {
    return this.user.paymentMonth.Feb == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Feb == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Feb == 'In behandeling' ? 'in-behandeling' : ''
    },
    classMaaObject () {
    return this.user.paymentMonth.Maa == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Maa == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Maa == 'In behandeling' ? 'in-behandeling' : ''
    },
    classAprObject () {
    return this.user.paymentMonth.Apr == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Apr == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Apr == 'In behandeling' ? 'in-behandeling' : ''
    },
    classMeiObject () {
    return this.user.paymentMonth.Mei == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Mei == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Mei == 'In behandeling' ? 'in-behandeling' : ''
    },
    classJunObject () {
    return this.user.paymentMonth.Jun == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Jun == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Jun == 'In behandeling' ? 'in-behandeling' : ''
    },
    classJulObject () {
    return this.user.paymentMonth.Jul == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Jul == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Jul == 'In behandeling' ? 'in-behandeling' : ''
    },
    classAugObject () {
    return this.user.paymentMonth.Aug == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Aug == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Aug == 'In behandeling' ? 'in-behandeling' : ''
    },
    classSepObject () {
    return this.user.paymentMonth.Sep == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Sep == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Sep == 'In behandeling' ? 'in-behandeling' : ''
    },
    classOktObject () {
    return this.user.paymentMonth.Okt == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Okt == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Okt == 'In behandeling' ? 'in-behandeling' : ''
    },
    classNovObject () {
    return this.user.paymentMonth.Nov == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Nov == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Nov == 'In behandeling' ? 'in-behandeling' : ''
    },
    classDecObject () {
    return this.user.paymentMonth.Dec == 'Niet betaald' ? 'niet-betaald' : '' || this.user.paymentMonth.Dec == 'Betaald' ? 'betaald' : '' || this.user.paymentMonth.Dec == 'In behandeling' ? 'in-behandeling' : ''
    },
  },
  methods: {
    editPersonalInfo () {
      this.userLoadingDialog = true

      setTimeout(() => {
        this.userLoadingDialog = false
        this.personalInfoDialog = true
      }, 1000)
    },
    editCourseInfo () {
      this.userLoadingDialog = true

      setTimeout(() => {
        this.userLoadingDialog = false
        this.memberCourseInfoDialog = true
      }, 1000)
    },
    editPaymentYear () {
      this.userLoadingDialog = true

      setTimeout(() => {
        this.userLoadingDialog = false
        this.paymentInfoDialog = true
      }, 1000)
    },
    getUser () {
      ApiService.getSingleUser().then(result => {
        console.log(result)
        this.user.firstname = result.data.user.firstname
        this.user.lastname = result.data.user.lastname
        this.user.birthDate = result.data.user.birthDate
        this.user.age = result.data.user.age
        this.user.city = result.data.user.city
        this.user.address = result.data.user.address
        this.user.postalCode = result.data.user.postalCode
        this.user.phoneNumber = result.data.user.phoneNumber
        this.user.email = result.data.user.email
        this.user.danceCourse = result.data.user.danceCourse
        this.user.if = result.data.user.if
        this.user.package = result.data.user.package,
        this.user.discountType = result.data.user.discountType,
        this.user.amount = result.data.user.amount,
        this.user.familyDiscount = result.data.user.familyDiscount
        this.user.startDate = result.data.user.startDate
        this.user.teacher = result.data.user.teacher
        this.user.paymentMonth.Jan = result.data.user.paymentMonth.Jan
        this.user.paymentMonth.Feb = result.data.user.paymentMonth.Feb
        this.user.paymentMonth.Maa = result.data.user.paymentMonth.Maa
        this.user.paymentMonth.Apr = result.data.user.paymentMonth.Apr
        this.user.paymentMonth.Mei = result.data.user.paymentMonth.Mei
        this.user.paymentMonth.Jun = result.data.user.paymentMonth.Jun
        this.user.paymentMonth.Jul = result.data.user.paymentMonth.Jul
        this.user.paymentMonth.Aug = result.data.user.paymentMonth.Aug
        this.user.paymentMonth.Sep = result.data.user.paymentMonth.Sep
        this.user.paymentMonth.Okt = result.data.user.paymentMonth.Okt
        this.user.paymentMonth.Nov = result.data.user.paymentMonth.Nov
        this.user.paymentMonth.Dec = result.data.user.paymentMonth.Dec
        this.user.payment.fullname = result.data.user.payment.fullname
        this.user.payment.paymentAddress = result.data.user.payment.paymentAddress
        this.user.payment.automaticPaymentDate = result.data.user.payment.automaticPaymentDate
        this.user.payment.iban = result.data.user.payment.iban
        this.user.payment.city = result.data.user.payment.city
        this.user.payment.paymentPostalCode = result.data.user.payment.paymentPostalCode
        this.user.payment.paymentEmail = result.data.user.payment.paymentEmail
        this.user.payment.signature.data = result.data.user.payment.signature.data
        this.user.paymentFoundation = result.data.user.paymentFoundation
        this.user.createdAt = result.data.user.createdAt

        this.imgSrc = new Uint8Array(this.user.payment.signature.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>

<style>
.handtekening {
    width: 100%;
}

</style>