<template>
    <v-row>
        <v-col cols="12">
          <v-tabs  fixed-tabs id="main-tab" dark>
            <v-tab @click="toTab(course.name)" v-for="(course, i) in danceTabs" :key="i" :value="course.name">
             {{course.name}}
            </v-tab>
          </v-tabs>
          <v-row>
          <transition name="slide-y-transition">
          <v-col v-if="breakdanceKidsBlock" cols="12" sm="12">
            <BreakdanceKidsTable/>
          </v-col>
          </transition>
          <transition name="scroll-x-transition">
          <v-col v-if="breakdanceTeensBlock" cols="12" sm="12">
            <BreakdanceTeensTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="hiphopKidsBlock" cols="12" sm="12">
             <HiphopKidsTable />
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="hiphopKidsTwoBlock" cols="12" sm="12">
             <HiphopKidsTwoTable/>
          </v-col>
          </transition>
          <transition name="scroll-x-transition">
          <v-col v-if="hiphopJuniorsBlock" cols="12" sm="12">
            <HiphopJuniorsTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="hiphopAdultsBlock" cols="12" sm="12">
            <HiphopAdultsTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="hiphopLadiesBlock" cols="12" sm="12">
            <HiphopLadiesTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="dancehallBlock" cols="12" sm="12">
            <DancehallTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="heelsBlock" cols="12" sm="12">
             <HeelsTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="selectieAdultsBlock" cols="12" sm="12">
             <HiphopSelectionAdultsTable/>
          </v-col>
          </transition>
          <transition name="slide-y-transition">
          <v-col v-if="selectieKidsBlock" cols="12" sm="12">
             <HiphopSelectionKidsTable/>
          </v-col>
          </transition>
        </v-row>
        </v-col>
    </v-row>
</template>

<script>
import BreakdanceKidsTable from '@/components/dashboard/dance/BreakdanceKidsTable'
import BreakdanceTeensTable from '@/components/dashboard/dance/BreakdanceTeensTable'
import HiphopKidsTable from '@/components/dashboard/dance/HiphopKidsTable'
import HiphopKidsTwoTable from '@/components/dashboard/dance/HiphopKidsTwoTable'
import HiphopJuniorsTable from '@/components/dashboard/dance/HiphopJuniorsTable'
import HiphopAdultsTable from '@/components/dashboard/dance/HiphopAdultsTable'
import HiphopLadiesTable from '@/components/dashboard/dance/HiphopLadiesTable'
import DancehallTable from '@/components/dashboard/dance/DancehallTable'
import HeelsTable from '@/components/dashboard/dance/HeelsTable'
import HiphopSelectionAdultsTable from '@/components/dashboard/dance/SelectionAdultsTable'
import HiphopSelectionKidsTable from '@/components/dashboard/dance/SelectionKidsTable'

export default {
  components: {
    BreakdanceKidsTable,
    BreakdanceTeensTable,
    HiphopKidsTable,
    HiphopKidsTwoTable,
    HiphopJuniorsTable,
    HiphopAdultsTable,
    HiphopLadiesTable,
    DancehallTable,
    HeelsTable,
    HiphopSelectionAdultsTable,
    HiphopSelectionKidsTable
  },
  data () {
    return {
      breakdanceKidsBlock: true,
      breakdanceTeensBlock: false,
      hiphopKidsBlock: false,
      hiphopKidsTwoBlock: false,
      hiphopJuniorsBlock: false,
      hiphopAdultsBlock: false,
      hiphopLadiesBlock: false,
      dancehallBlock: false,
      heelsBlock: false,
      selectieAdultsBlock: false,
      selectieKidsBlock: false,
      danceTabs: [
        {
          name: 'Breakdance kids'
        },
        {
          name: 'Breakdance teens'
        },
        {
          name: 'Hiphop Kids 6jr'
        },
        {
          name: 'Hiphop Kids 9jr'
        },
        {
          name: 'Hiphop junioren'
        },
        {
          name: 'Hiphop Adults'
        },
        {
          name: 'Hiphop Ladies'
        },
        {
          name: 'Dancehall'
        },
        {
          name: 'Heels'
        },
        {
          name: 'Selectie adults'
        },
        {
          name: 'Selectie kids'
        }
      ]
    }
  },
  methods: {
    toTab (course) {
      switch (course) {
        case 'Breakdance kids':
          this.breakdanceKidsBlock = true
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Breakdance teens':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = true
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Hiphop Kids 6jr':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = true
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Hiphop Kids 9jr':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = true
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Hiphop junioren':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = true
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Hiphop Adults':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = true
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Hiphop Ladies':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = true
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Dancehall':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = true
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Heels':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = true
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = false
          break
        case 'Selectie adults':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = true
          this.selectieKidsBlock = false
          break
        case 'Selectie kids':
          this.breakdanceKidsBlock = false
          this.breakdanceTeensBlock = false
          this.hiphopKidsBlock = false
          this.hiphopKidsTwoBlock = false
          this.hiphopJuniorsBlock = false
          this.hiphopAdultsBlock = false
          this.hiphopLadiesBlock = false
          this.dancehallBlock = false
          this.heelsBlock = false
          this.selectieAdultsBlock = false
          this.selectieKidsBlock = true
          break
        default:
      }
    }
  }
}
</script>
