<template>
  <v-card>
    <v-card-title>
      Breakdance Teens
      <v-spacer></v-spacer>
      <!-- Todo: Search input with server side search -->
    </v-card-title>
    <v-data-table :headers="headers" :items="users" :loading="loading" :options.sync="options"
      :server-items-length="totalUsers" class="elevation-0">
      <template v-slot:item.action="props">
        <strong>
          <v-btn @click="toUser(props.item)" icon>
            <v-icon>mdi-account-edit</v-icon>
          </v-btn>
        </strong>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import ApiService from '../../../services/api.service'
import _ from 'lodash'

export default {
  data () {
    return {
      shape: 'hiphopKids',
      loaded: false,
      chartdata: null,
      users: [],
      headers: [{
        text: 'Achternaam',
        align: 'left',
        sortable: true,
        value: 'lastname'
      },
      {
        text: 'Voornaam',
        value: 'firstname'
      },
      {
        text: 'Dans',
        value: 'danceCourse'
      },
      {
        text: 'Docent',
        value: 'teacher'
      },
      {
        text: 'Pakket',
        value: 'package'
      },
      {
        text: 'Edit',
        value: 'action'
      }
      ],
      loading: false,
      totalUsers: 0,
      options: {
        itemsPerPage: 5
      }
    }
  },
  mounted () {
    this.fetchDancers()
  },
  watch: {
    options: {
      handler () {
        this.fetchDancers()
      },
      deep: true
    }
  },
  methods: {
    toUser (user) {
      this.$router.push({ name: 'member', params: { id: user._id } })
    },
    fetchDancers: _.debounce(function () {
      this.loading = true
      ApiService.getBreakdanceTeens(this.options).then(({
        items,
        total
      }) => {
        const {
          sortBy,
          sortDesc
        } = this.options
        // const { sortBy, sortDesc, page, itemsPerPage } = options

        if (sortBy.length === 1 && sortDesc.length === 1) {
          items = items.sort((a, b) => {
            const sortA = a[sortBy[0]]
            const sortB = b[sortBy[0]]

            if (sortDesc[0]) {
              if (sortA < sortB) return 1
              if (sortA > sortB) return -1
              return 0
            } else {
              if (sortA < sortB) return -1
              if (sortA > sortB) return 1
              return 0
            }
          })
        }
        this.loading = false
        this.totalUsers = total
        this.users = items
      }).catch(() => {
        this.loading = false
      })
    })
  }

}
</script>

<style>
/* #doughnut-chart {
  width: 300px !important;
  height: 300px !important;
} */

.chart-title {
  font-family: 'Montserrat', sans-serif;
}

.chart-subtitle {
  font-family: 'Open Sans', sans-serif;
}

.chart-number {
  font-family: 'Open Sans', sans-serif;
}
</style>
