<template>
  <div>
    <v-navigation-drawer :mini-variant.sync="mini" v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list-item @click="toAdmin(name)" class="px-2">
        <v-list-item-avatar>
          <v-img src="https://i.pravatar.cc/300"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>{{name.firstname}}</v-list-item-title>

        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>
      <v-list v-for="item in items" :key="item.title">

        <v-list-item v-if="!item.sub" :to="item.to">
          <v-list-item-icon>
            <v-icon v-text="item.action"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group v-else v-model="item.active" no-action>
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon v-text="item.action"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item v-for="subItem in item.sub" :key="subItem.title">
            <v-list-item-content>
              <v-list-item-title v-text="subItem.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>

    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app id="main-toolbar" dark class="elevation-0">
      <v-app-bar-nav-icon @click.stop="openMenu" />
      <v-toolbar-title>All The Above</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-shield-account</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-plus-circle-outline</v-icon>
      </v-btn>

      <v-btn :to="{ name: 'logout' }" icon>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
  </div>

</template>

<script>
/* eslint */
export default {
  data () {
    return {
      drawer: true,
      mini: true,
      admin: '',
      items: [{
        action: 'mdi-gauge',
        title: 'Dashboard',
        to: '/dashboard'
      },
      {
        action: 'mdi-account-circle',
        title: 'Leden',
        active: false,
        sub: [{
          action: 'mdi-home',
          title: 'Dans'
        },
        {
          action: 'mdi-home',
          title: 'Zang'
        }]
      },
      {
        action: 'mdi-shoe-print',
        title: 'Dans',
        sub: [
          {
            title: 'Alle leden'
          },
          {
            title: 'Hiphop'
          },
          {
            title: 'Breakdance'
          },
          {
            title: 'Dancehall'
          },
          {
            title: 'Heels'
          },
          {
            title: 'Overig'
          }
        ]
      },
      {
        action: 'mdi-microphone-variant',
        title: 'Zang',
        sub: [
          {
            title: 'Groepslessen'
          },
          {
            title: 'Privelessen'
          },
          {
            title: 'Talent class'
          },
          {
            title: 'Overig'
          }
        ]
      },
      {
        action: 'mdi-settings',
        title: 'Management',
        sub: [
          {
            title: 'Overzicht'
          },
          {
            title: 'Voeg een lid toe'
          },
          {
            title: 'Docenten'
          }
        ]
      }
      ],
      name: ''
    }
  },
  mounted () {
    this.admin = localStorage.getItem('user')
    this.name = JSON.parse(this.admin)
  },
  methods: {
    toAdmin (user) {
      this.$router.push({ name: 'admin', params: { id: user._id } })
    },
    openMenu () {
      this.drawer = !this.drawer
      this.miniVariant = false
    }
  }
}
</script>
