<template>
  <v-dialog persistent width="300px" v-model="dialogState">
    <v-card class="my-dialog">
      <v-toolbar class="elevation-0 card-bg-header" dark>
        <v-toolbar-title>Aan het laden..</v-toolbar-title>
      </v-toolbar>
      <v-card-text class="text-center mt-4">
        <v-progress-circular indeterminate color="black"></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  model: {
    prop: 'dialog',
    event: 'dialog'
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogState: this.dialog
    }
  },
  watch: {
    dialog (val) {
      this.dialogState = val
    },
    dialogState (val) {
      this.$emit('dialog', val)
    }
  },
  methods: {
    goToHome () {
      this.dialogState = false
    }
  }
}
</script>

<style>

</style>
