<template>
  <v-dialog persistent width="800px" v-model="dialogState">
    <v-form ref="memberCourseInfoForm" @submit.prevent="editMember">
      <v-card class="my-dialog">
        <v-toolbar class="elevation-0 card-bg-header" dark>
          <v-toolbar-title class="text-h5 text-uppercase">
            {{user.firstname}} {{user.lastname}}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn fab dark depressed class="card-bg-header" small @click="closeDialog">
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="text-body2 v-mt-md">
          <v-row>
            <v-col cols="12" sm="6">
              <v-menu v-model="menu1" :close-on-content-click="false" max-width="290">
                <template v-slot:activator="{ on }">
                  <v-text-field dense :value="computedStartDate" label="Start datum" readonly v-on="on"
                    @click:clear="user.startDate = null"></v-text-field>
                </template>
                <v-date-picker v-model="user.startDate" @change="menu1 = false"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col v-if="user.danceCourse" cols="12" sm="6">
              <v-select dense :items="danceCourseOptions" label="Dans les" v-model="user.danceCourse">
              </v-select>
            </v-col>
            <!-- <v-col cols="12" sm="4">
              <v-switch inset v-model="user.if" label="Inschrijf formulier"></v-switch>
            </v-col> -->
            <v-col cols="12" sm="4">
              <v-switch inset v-model="user.if" label="Inschrijf formulier"></v-switch>
            </v-col>
            <v-col cols="12" sm="4">
                <v-switch inset v-model="user.familyDiscount" label="Familiekorting"></v-switch>
            </v-col>
            <v-col cols="12" sm="4">
              <v-select dense :items="docenten" label="Docent" v-model="user.teacher">
              </v-select>
            </v-col>
            <v-col cols="12" sm="4">
              <v-select dense :items="pakketen" label="Pakket" v-model="user.package">
              </v-select>
            </v-col>
            <v-col cols="12" sm="4">
              <v-select dense :items="discountDiffs" label="Kortings type" v-model="user.discountType">
              </v-select>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field dense v-model="user.amount" label="Kortings bedrag"></v-text-field>
            </v-col>
            <v-col v-if="successMsg" cols="12" sm="12">
              <v-alert type="success">
                {{ successMsg }}
              </v-alert>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="card-bg-header" depressed dark type="submit">Wijzigen</v-btn>
          <v-btn depressed @click="closeDialog"> Annuleren </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import moment from 'moment'
import ApiService from '../../services/api.service'

export default {
  model: {
    prop: 'dialog',
    event: 'dialog'
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object
    }
  },
  data () {
    return {
      successMsg: '',
      dialogState: this.dialog,
      menu1: false,
      docenten: ['Carmen', 'Rory', 'Julia', 'Lois', 'Madhan', 'Kelly'],
      pakketen: ['Dans', 'Zang groep', 'Zang PR Wekelijks', 'Zang PR 2x MT', 'Zang Talent Class', 'Combi', 'Triple', 'Allround'],
      discountDiffs: ['Familie korting 1', 'Familie korting 2', 'Familie korting 3', 'Familie korting 4', 'Familie korting 5', 'Familie korting 6'],
      danceCourseOptions: [
        'Hiphop Kids 6 - 8 jr',
        'Hiphop Kids 9 - 11 jr',
        'Hiphop Junioren 12 - 15 jr',
        'Hiphop Adults 16 - 30 jr',
        'Hiphop Ladies 30+',
        'Selectie Hiphop',
        'Selectie Hiphop Kids',
        'Breakdance Kids 6 - 11 jr',
        'Breakdance Teens 12+',
        'Dancehall 16+',
        'Heels Class 16+',
        'Combi Les | 2 lessen',
        'Triple Les | 3 lessen',
        'Allround | Alle lessen',
        'Groepsles zang & één dansles naar keuze',
        'Talentclass & één dansles naar keuze'
      ]
    }
  },
  watch: {
    dialog (val) {
      this.dialogState = val
    },
    dialogState (val) {
      this.$emit('dialog', val)
    }
  },
  computed: {
    computedStartDate () {
      return this.user.startDate ? moment(this.user.startDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
    }
  },
  methods: {
    closeDialog () {
      this.dialogState = false
    },
    editMember () {
      ApiService.editCourseInfo({
        startDate: this.user.startDate,
        danceCourse: this.user.danceCourse,
        package: this.user.package,
        if: this.user.if,
        discountType: this.user.discountType,
        familyDiscount: this.user.familyDiscount,
        amount: this.user.amount,
        teacher: this.user.teacher
      }).then(result => {
        this.successMsg = result.data.message
        setTimeout(() => {
          this.successMsg = ''
          this.dialogState = false
        }, 2500)
      })
    }
  }
}
</script>

<style>

</style>
