<template>
  <v-dialog persistent width="800px" v-model="dialogState">
    <v-form @submit.prevent="editPayment">
        <v-card class="my-dialog">
      <v-toolbar class="elevation-0 card-bg-header" dark>
        <v-toolbar-title>{{user.firstname}} {{user.lastname}}</v-toolbar-title>
        <v-spacer></v-spacer>
          <v-btn fab dark depressed class="card-bg-header" small @click="closeDialog">
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
      </v-toolbar>
      <v-card-text class="text-center mt-4">
        <v-row>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Januari" v-model="user.paymentMonth.Jan">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Februari" v-model="user.paymentMonth.Feb">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Maart" v-model="user.paymentMonth.Maa">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="April" v-model="user.paymentMonth.Apr">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Mei" v-model="user.paymentMonth.Mei">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Juni" v-model="user.paymentMonth.Jun">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Juli" v-model="user.paymentMonth.Jul">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Augustus" v-model="user.paymentMonth.Aug">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="September" v-model="user.paymentMonth.Sep">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="Oktober" v-model="user.paymentMonth.Okt">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="November" v-model="user.paymentMonth.Nov">
            </v-select>
          </v-col>
          <v-col cols="12" sm="4">
            <v-select dense :items="payment" label="December" v-model="user.paymentMonth.Dec">
            </v-select>
          </v-col>
          <v-col class="text-left" v-if="successMsg" cols="12" sm="12">
              <v-alert type="success">
                {{ successMsg }}
              </v-alert>
            </v-col>
        </v-row>
      </v-card-text>
              <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="card-bg-header" depressed dark type="submit">Wijzigen</v-btn>
          <v-btn depressed @click="closeDialog"> Annuleren </v-btn>
        </v-card-actions>
    </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import ApiService from '@/services/api.service'

export default {
  model: {
    prop: 'dialog',
    event: 'dialog'
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object
    }
  },
  data () {
    return {
      payment: ['Betaald', 'Niet betaald', 'In behandeling'],
      dialogState: this.dialog,
      successMsg: ''
    }
  },
  watch: {
    dialog (val) {
      this.dialogState = val
    },
    dialogState (val) {
      this.$emit('dialog', val)
    }
  },
  methods: {
    closeDialog () {
      this.dialogState = false
    },
    editPayment () {
      ApiService.editPayment({
        paymentMonth: {
          Jan: this.user.paymentMonth.Jan,
          Feb: this.user.paymentMonth.Feb,
          Maa: this.user.paymentMonth.Maa,
          Apr: this.user.paymentMonth.Apr,
          Mei: this.user.paymentMonth.Mei,
          Jun: this.user.paymentMonth.Jun,
          Jul: this.user.paymentMonth.Jul,
          Aug: this.user.paymentMonth.Aug,
          Sep: this.user.paymentMonth.Sep,
          Okt: this.user.paymentMonth.Okt,
          Nov: this.user.paymentMonth.Nov,
          Dec: this.user.paymentMonth.Dec
        }
      }).then(result => {
        this.successMsg = result.data.message
        setTimeout(() => {
          this.successMsg = ''
          this.dialogState = false
        }, 2500)
      })
    }
  }
}
</script>

<style>

</style>
