<template>
  <v-dialog persistent width="800px" v-model="dialogState">
    <v-form ref="personalInfoForm" @submit.prevent="editMember">
      <v-card class="my-dialog">
        <v-toolbar class="elevation-0 card-bg-header" dark>
          <v-toolbar-title class="text-h5 text-uppercase">
            {{user.firstname}} {{user.lastname}}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn fab dark depressed class="card-bg-header" small @click="closeDialog">
              <v-icon>
              mdi-close
          </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="text-body2 v-mt-md">
          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field :rules="nameRules" label="Voornaam" v-model="user.firstname"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field :rules="lastNameRules" label="Achternaam" v-model="user.lastname"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-menu disabled v-model="menu1" :close-on-content-click="false" max-width="290">
                <template v-slot:activator="{ on }">
                  <v-text-field :value="computedBirthDate" label="Geboortedatum" readonly v-on="on"
                    @click:clear="user.birthDate = null"></v-text-field>
                </template>
                <v-date-picker disabled v-model="user.birthDate" @change="menu1 = false"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" sm="2">
              <v-text-field disabled :rules="ageRules" label="Leeftijd" v-model="computedAge"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field :rules="phoneNumberRules" label="Telefoon nummer" v-model="user.phoneNumber"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field :rules="addressRules" label="Adres" v-model="user.address"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field :rules="postalCodeRules" label="Postcode" v-model="user.postalCode"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field :rules="cityRules" label="Woonplaats" v-model="user.city"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field :rules="emailRules" label="Email" v-model="user.email"></v-text-field>
            </v-col>
            <v-col v-if="successMsg" cols="12" sm="12">
              <v-alert type="success">
                {{ successMsg }}
              </v-alert>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="card-bg-header" depressed dark type="submit">Wijzigen</v-btn>
          <v-btn depressed @click="closeDialog"> Annuleren </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import moment from 'moment'
import ApiService from '../../services/api.service'

export default {
  model: {
    prop: 'dialog',
    event: 'dialog'
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object
    }
  },
  data () {
    return {
      successMsg: '',
      age: null,
      nowDate: null,
      year: null,
      menu1: false,
      dialogState: this.dialog,
      nameRules: [
        v => !!v || 'Voornaam is verplicht'
      ],
      lastNameRules: [
        v => !!v || 'Achternaam is verplicht'
      ],
      ageRules: [
        v => !!v || 'Leeftijd is verplicht'
      ],
      phoneNumberRules: [
        v => !!v || 'Woonplaats is verplicht'
      ],
      cityRules: [
        v => !!v || 'Woonplaats is verplicht'
      ],
      addressRules: [
        v => !!v || 'Adres is verplicht'
      ],
      postalCodeRules: [
        v => !!v || 'Postcode is verplicht'
      ],
      emailRules: [
        v => !!v || 'Email is verplicht'
      ]
    }
  },
  watch: {
    dialog (val) {
      this.dialogState = val
    },
    dialogState (val) {
      this.$emit('dialog', val)
    }
  },
  computed: {
    computedBirthDate () {
      return this.user.birthDate ? moment(this.user.birthDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
    },
    computedAge () {
      let date = this.user.birthDate.split('-')
      let nowDate = new Date()
      let year = nowDate.getFullYear()
      return year - +date[0]
    }
  },
  methods: {
    closeDialog () {
      this.dialogState = false
      this.successMsg = ''
    },
    editMember () {
      this.user.age = this.computedAge
      if (this.$refs.personalInfoForm.validate()) {
        ApiService.editUser({
          firstname: this.user.firstname,
          lastname: this.user.lastname,
          birthDate: this.user.birthDate,
          city: this.user.city,
          age: this.user.age,
          phoneNumber: this.user.phoneNumber,
          address: this.user.address,
          postalCode: this.user.postalCode,
          email: this.user.email
        }).then(result => {
          this.successMsg = result.data.message
          console.log(result)
          setTimeout(() => {
            this.successMsg = ''
            this.dialogState = false
          }, 2500)
        }).catch(error => {
          console.log(error)
        })
      }
    }
  }
}
</script>

<style>

</style>
