<template>
  <v-card class="elevation-0" outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">
          <v-chip color="indigo" text-color="white">
            <v-avatar left>
              <v-icon>mdi-account-circle</v-icon>
            </v-avatar>
            Dans leden
          </v-chip>
        </div>
      </v-list-item-content>

      <v-list-item-avatar tile size="80" color="indigo"><span class="dance-members-length">{{danceMembers.length}}</span>
      </v-list-item-avatar>
    </v-list-item>
  </v-card>
</template>

<script>
import ApiService from '@/services/api.service'
export default {
  data () {
    return {
      danceMembers: [],
      danceLength: null
    }
  },
  mounted () {
    ApiService.allusers().then(data => {
      this.danceMembers = data.users.filter(el => {
        if (el.danceCourse !== '') {
          return true
        }
      })
      console.log(this.danceMembers.length)
    })
  }
}
</script>
