.dance-members-length {
    color: white;
    font-size: 28px;
}

#main-toolbar {
    background-color: #344955;
}

#main-tab {
    background-color: #232F34;
}

.v-chip.v-size--default {
    font-size: 12px !important;
}

.bar {
    background-color:rgb(9, 173, 58) !important;
    height: 4px !important;
}
.spinner-icon {
    border-top-color: rgb(9, 173, 58) !important; 
    border-left-color: rgb(9, 173, 58) !important;
}

.card-bg-header {
    background-color: #344955 !important;
}

.niet-betaald {
    color: red;
    font-weight: 700;
  }
  .betaald {
    color: green;
    font-weight: 700;
  }
  .in-behandeling {
    color: orange;
    font-weight: 700;
  }