<template>
  <v-app>
    <Navigation v-if="isLoggedIn"/>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import './assets/index.scss'
import { mapState } from 'vuex'
import Navigation from './components/Navigation'

export default {
  components: {
    Navigation
  },
  computed: {
    ...mapState(['isLoggedIn'])
  }
}
</script>
